body {
    background-color: rgb(241, 237, 232);
    margin: 30px;
}

h1 {
    color: rgb(84, 84, 84);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: rgb(120, 117, 117);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}